<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="~{fragmentos/pagina-base :: head('Formulário para Upload Transações Financeiras')}">
</head>
<body>
<nav th:replace="~{fragmentos/pagina-base :: nav('importacoes')}"></nav>
<div th:replace="~{fragmentos/pagina-base :: modal-carregando}"></div>
<div class="container">
    <h1 class="fw-bold text-uppercase text-center">
        Importar transações
    </h1>
    <form
            th:action="@{/transacoes/formulario}"
            th:method="post"
            th:object="${arquivosImportados}"
            class="needs-validation"
            enctype="multipart/form-data"
            novalidate
            th:class="${mensagemErro} ? was-validated : needs-validation"
    >
        <div class="mb-3">
            <input
                    th:field="*{arquivos}"
                    th:errorclass="is-invalid"
                    class="form-control"
                    type="file"
                    multiple
                    aria-labelledby="instrucaoSelecionarArquivo"
                    required
            />
            <span th:errors="*{arquivos}" class="invalid-feedback">Erros ao cadastrar!</span>
            <small th:text="${mensagemCadastro}" class="text-success">Sucesos no cadastro!</small>
            <div class="form-text" id="instrucaoSelecionarArquivo">
                Selecione o(s) arquivo(s) para realizar o upload. (Máximo 4 MB)
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Importar" data-bs-toggle="modal" data-bs-target="#modal"/>
    </form>
    <h2 class="fw-bold text-uppercase text-center">
        Importações realizadas
    </h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="fw-bold text-uppercase">Data transações</th>
            <th class="fw-bold text-uppercase">Data importação</th>
            <th class="fw-bold text-uppercase">Upload por</th>
            <th class="fw-bold text-uppercase">Opções</th>
        </tr>
        </thead>
        <tbody th:each="importacao : ${importacoes}">
        <tr>
            <td
                    th:text="${#temporals.format(importacao.dataTransacoes, 'dd/MM/yyyy')}"
            >
                10/11/2023
            </td>
            <td
                    th:text="${#temporals.format(importacao.dataUpload, 'dd/MM/yyyy - HH:mm:ss')}"
            >
                05/04/2023 - 16:22:19
            </td>
            <td th:text="${importacao.nomeUsuario}">
                Usuario X
            </td>
            <td>
                <a th:href="@{/transacoes/detalhes/{data}(data=${importacao.dataTransacoes})}">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">Detalhes</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"
></script>
</body>
</html>
