<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="~{fragmentos/pagina-base :: head('Analizar Transações')}">
</head>
<body>
<nav th:replace="~{fragmentos/pagina-base :: nav('analise')}"></nav>
<div th:replace="~{fragmentos/pagina-base :: modal-carregando}"></div>
<div class="container">
    <h1 class="fw-bold text-uppercase text-center mb-2 mt-2">
        Análise de transações suspeitas
    </h1>
    <form th:action="@{/transacoes/analise}" th:object="${dataAnaliseTransacoes}" th:method="post">
        <label class="form-label mb-1">Selecione o mês para analisar as transações</label>
        <div class="row mb-2">
            <div class="col">
                <select th:field="*{mes}" th:errorclass="is-invalid" class="form-select">
                    <option value="0" selected>
                        Selecione o mês de referência
                    </option>
                    <option value="1">Janeiro</option>
                    <option value="2">Fevereiro</option>
                    <option value="3">Março</option>
                    <option value="4">Abril</option>
                    <option value="5">Maio</option>
                    <option value="6">Junho</option>
                    <option value="7">Julho</option>
                    <option value="8">Agosto</option>
                    <option value="9">Setembro</option>
                    <option value="10">Outubro</option>
                    <option value="11">Novembro</option>
                    <option value="12">Dezembro</option>
                </select>
                <span th:errors="*{mes}" class="invalid-feedback">Erros gerar relatório!</span>
            </div>
            <div class="col">
                <select th:field="*{ano}" th:errorclass="is-invalid" class="form-select">
                    <option value="0" selected>
                        Selecione o ano de referência
                    </option>
                    <option th:each="ano : ${anos}" th:value="${ano}" th:text="${ano}">2020</option>
                </select>
                <span th:errors="*{ano}" class="invalid-feedback">Erros gerar relatório!</span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">Realizar Análise
        </button>
    </form>
    <h2 class="fw-bold text-uppercase text-center">
        Transações suspeitas
    </h2>
    <table class="table table-striped table-bordered">
        <thead class="fw-bold text-uppercase">
        <tr class="text-center">
            <th colspan="3">Origem</th>
            <th colspan="3">Destino</th>
            <th rowspan="2" class="align-middle">Valor</th>
        </tr>
        <tr>
            <th>Banco</th>
            <th>Agência</th>
            <th>Conta</th>
            <th>Banco</th>
            <th>Agência</th>
            <th>Conta</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transacao : ${transacoesSuspeitas}">
            <td th:text="${transacao.bancoOrigem}">Banco do Brasil</td>
            <td th:text="${transacao.agenciaOrigem}">0001</td>
            <td th:text="${transacao.contaOrigem}">00001-1</td>
            <td th:text="${transacao.bancoDestino}">Banco Santander</td>
            <td th:text="${transacao.agenciaDestino}">0001</td>
            <td th:text="${transacao.contaDestino}">00001-1</td>
            <td th:text="${#numbers.formatCurrency(transacao.valorTransacao)}">R$ 850.000,00</td>
        </tr>
        <tr th:if="${transacoesSuspeitas != null && #lists.isEmpty(transacoesSuspeitas)}">
            <td colspan="7">Não existem transações suspeitas para a data selecionada!</td>
        </tr>
        </tbody>
    </table>
    <h2 class="fw-bold text-uppercase text-center">Contas Suspeitas</h2>
    <table class="table table-striped table-bordered">
        <thead class="fw-bold text-uppercase">
        <tr>
            <th>Banco</th>
            <th>Agência</th>
            <th>Conta</th>
            <th>Valor Movimentado</th>
            <th>Tipo Movimentação</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="conta : ${contasSuspeitas}">
            <td th:text="${conta.banco}">Banco do Brasil</td>
            <td th:text="${conta.agencia}">0001</td>
            <td th:text="${conta.conta}">00001-1</td>
            <td th:text="${#numbers.formatCurrency(conta.valorMovimentado)}">R$ 3.138.219,12</td>
            <td th:text="${conta.tipoMovimentacao}">Entrada</td>
        </tr>
        <tr th:if="${contasSuspeitas != null && #lists.isEmpty(contasSuspeitas)}">
            <td colspan="5">Não existem contas suspeitas para a data selecionada!</td>
        </tr>
        </tbody>
    </table>
    <h2 class="fw-bold text-uppercase text-center">
        Agências Suspeitas
    </h2>
    <table class="table table-striped table-bordered">
        <thead class="fw-bold text-uppercase">
        <tr>
            <td>Banco</td>
            <td>Agência</td>
            <td>Valor Movimentado</td>
            <td>Tipo Movimentação</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="agencia : ${agenciasSuspeitas}">
            <td th:text="${agencia.banco}">Banco do Brasil</td>
            <td th:text="${agencia.agencia}">0001</td>
            <td th:text="${#numbers.formatCurrency(agencia.valorMovimentado)}">R$ 12.419.124.125,87</td>
            <td th:text="${agencia.tipoMovimentacao}">Saída</td>
        </tr>
        <tr th:if="${agenciasSuspeitas != null && #lists.isEmpty(agenciasSuspeitas)}">
            <td colspan="4">Não existem agências suspeitas para a data selecionada!</td>
        </tr>
        </tbody>
    </table>
</div>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"
></script>
</body>
</html>
